<header class="w-full">
    <div class="flex flex-row items-center content-center w-full">
        <div class="flex justify-center	pl-10 p-5 w-60 border-r-2">
            <p class="hover:underline">
                <a href="/html/ui/main">
                    Home
                </a>
            </p>
        </div>
        <div class="flex justify-center	pl-10 p-5 w-60 border-r-2">
            <p class="hover:underline">
                <a href="/html/ui/components/components.html">
                    Components
                </a>
            </p>
        </div>
        <div class="flex justify-center p-5 w-60 border-r-2">
            <p class="hover:underline">
                <a href="/html/ui/pages/pages.html">
                    Pages
                </a>
            </p>
        </div>
    </div>
</header>