<!DOCTYPE html>
<html lang="en">

<head>
    <title>Component Editor</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <style>
        .intro {
            font-family: "Poppins", sans-serif;
        }
    </style>
</head>

<body class="flex flex-col h-screen">

    {{>WEB-INF/components/header}}

    <!-- Main Section -->
    <section id="component-app" class="flex flex-grow flex-row w-full">
        <div class="component-list flex flex-col h-screen w-80">
            <div class="flex flex-grow">
            </div>
            <div class="flex justify-center bg-gray-100">
                <button class="h-10 text-center w-full" type="button"><em class="fas fa-plus fa-2x"></em></button>
            </div>
        </div>
        <div class="component-viewer flex flex-col w-full h-full p-4">
            <div class="component-editor flex w-full h-1/2 p-1">
                <textarea id="ta-editor" class="w-full bg-gray-50 resize-none border rounded-md h-full"
                    v-model="component" v-on:keydown="taEditorKeydown"></textarea>
            </div>
            <div class="component-preview flex w-full h-1/2 p-1">
                <div id="ta-viewer" class="w-full bg-gray-50 resize-none border rounded-md h-full" v-html="component">
                </div>
            </div>
            <div class="flex flex-row-reverse w-full p-1">
                <div class="w-16 h-8 border rounded-md bg-blue-300">
                    <button class="w-full h-full text-center" id="save">Save</button>
                </div>
                <div class="w-16 h-8 border rounded-md bg-blue-300">
                    <button class="w-full h-full text-center" id="reset">Reset</button>
                </div>
            </div>
        </div>
    </section>

    {{>WEB-INF/components/footer}}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.0.7/dist/vue.global.prod.js"></script>
    <script src="./components.js"></script>
</body>

</html>