<!DOCTYPE html>
<html lang="en">

<head>
    <title>Component Editor</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <style>
        .intro {
            font-family: "Poppins", sans-serif;
        }
    </style>
</head>

<body class="flex flex-col h-screen">

    {{>WEB-INF/components/header}}

    <!-- Main Section -->
    <section id="component-app" class="flex-grow w-full">
        <div class="component-list">

        </div>
        <div class="component-viewer">

        </div>
    </section>

    {{>WEB-INF/components/footer}}
    
    <script src="https://unpkg.com/vue@3.0.7"></script>
    <script src="./components.js"></script>
</body>

</html>