<footer class="bg-blue-300 h-40">
    <div class="flex flex-row h-full w-20">
        <div class="flex items-center">
            <div class="m-4">
                <a href="https://github.com/pat-lego" target="_blank"><em class="fab fa-github fa-3x"></em></a>
            </div>

            <div class="m-4">
                <a href="https://www.linkedin.com/in/patrique-legault/" target="_blank"><em
                        class="fab fa-linkedin fa-3x"></em></a>
            </div>

            <div class="m-4">
                <a href="https://twitter.com/_patlego" target="_blank"><em class="fab fa-twitter fa-3x"></em></a>
            </div>
        </div>
    </div>
</footer>